<md-card ng-cloak>
      <md-card-title>
            <md-card-title-text>
                  <h1 >{{ $ctrl.operation }}</h1>
            </md-card-title-text>
            <md-card-title-text>
                  <md-progress-circular ng-hide="!$ctrl.spinerActivated" md-mode="determinate" value="{{$ctrl.determinateValue}}"></md-progress-circular>
            </md-card-title-text>
      </md-card-title>

      <md-divider></md-divider>

      <md-card-actions layout="row" layout-align="start">
            <md-card-icon-actions >
                  <md-button ng-show="$ctrl.tags.length > 0" class="md-icon-button" ng-click="$ctrl.saveArticleButton()">
                        <md-icon>save</md-icon>
                  </md-button>

                  <md-button class="md-icon-button" aria-label="ArticlesList" ui-sref="articlesList" ui-sref-active="active">
                        <md-icon>list</md-icon>
                  </md-button>

                  <md-menu>
                        <md-button ng-show="$ctrl.networksSelected.length > 0" aria-label="ОТправить в сети или сеть" class="md-icon-button" ng-click="$ctrl.shares()">
                              <md-icon>share</md-icon>
                        </md-button>

                        <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                              <md-menu-item ng-repeat="item in $ctrl.networks">
                                    <md-button ng-click="$ctrl.shares(item.bcNetwork, item.username)">
                                          {{ item.username }}@{{item.bcNetwork}}
                                    </md-button>
                              </md-menu-item>
                        </md-menu-content>
                  </md-menu>

                        <div layout="row">
                              <div ng-repeat="item in $ctrl.networks">
                                    <md-checkbox ng-checked="$ctrl.existsNetworks(item, $ctrl.networksSelected)" ng-click="$ctrl.toggleNetwork(item, $ctrl.networksSelected)">
                                          {{ item.bcNetwork }}
                                          <span ng-disabled="$ctrl.existsNetworks(item, $ctrl.networksSelected)"></span>
                                    </md-checkbox>
                              </div>
                        </div>
            </md-card-icon-actions>
      </md-card-actions>

      <md-divider></md-divider>

      <md-card-content>
            <form name="articleForm">
                  <md-card-title-text>
                        <md-input-container class="md-block">
                              <label>Заголовок</label>
                              <input name="title" ng-model="$ctrl.article.title" md-minlength="1" md-maxlength="256">

                              <div ng-messages="articleForm.title.$error">
                                    <div ng-message="required">Обязательное поле.</div>
                                    <div ng-message="md-maxlength">Не более 256 символов.</div>
                              </div>

                        </md-input-container>
                  </md-card-title-text>

                  <md-input-container class="md-block editor-article">
                        <textarea aria-label="editorArticle" simplemde='{spellChecker: false, autofocus: true }' ng-model='$ctrl.text' md-maxlength="150000"
                              rows="5" md-select-on-focus></textarea>
                  </md-input-container>

                  <md-chips ng-required="true" md-max-chips="5" name="tags" ng-model="$ctrl.tags" md-removable="$ctrl.readonlyTag" placeholder="Добавь теги (до 5 штук)."
                        delete-button-label="Удалить тэг" delete-hint="Нажмите удалить что бы удалить тэг">
                  </md-chips>

                  <div class="md-chips-messages" ng-messages="articleForm.tags.$error">
                        <div ng-message="required">
                              <p class="note">Должен быть указан мимнимум один тэг.</p>
                        </div>
                        <div ng-message="md-max-chips">
                              <p class="note"></p>Должен быть указан максиммум пять тэгов.</p>
                        </div>
                  </div>

            </form>
      </md-card-content>



</md-card>