<md-card ng-cloak >
      <md-card-title>
            <md-toolbar class="md-theme-light">
                  <h2 class="md-toolbar-tools">
                     <md-card-actions layout="row" layout-align="start center">
                        <md-card-icon-actions>
                           <md-button class="md-icon-button" aria-label="Favorite">
                              <md-icon>create</md-icon>
                           </md-button>
                           <md-button class="md-icon-button" aria-label="Share">
                              <md-icon>share</md-icon>
                           </md-button>
                        </md-card-icon-actions>
                        <md-button ng-click="$ctrl.toggleButton()">Сохранить</md-button>
                     </md-card-actions>
                  </h2>
               </md-toolbar>

      </md-card-title>

      <md-card-content>
            <md-card-title-text>
                  <md-input-container class="md-block">
                        <label>Заголовок</label>
                        <input ng-model="$ctrl.article.data[0].title">
                      </md-input-container>
            </md-card-title-text>
      </md-card-content>
   </md-card>