      <md-card ng-cloak >
            <md-card-title>
               <md-card-title-text>
                  <span class="md-headline">Посты</span>
               </md-card-title-text>
            </md-card-title>
            <md-toolbar class="md-theme-light">
               <h2 class="md-toolbar-tools">
                  <md-card-actions layout="row" layout-align="start center">
                     <md-card-icon-actions>
                        <md-button class="md-icon-button" aria-label="Favorite">
                           <md-icon>create</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Share">
                           <md-icon>share</md-icon>
                        </md-button>
                     </md-card-icon-actions>
                     <md-button>Action 1</md-button>
                     <md-button>Action 2</md-button>
                  </md-card-actions>
               </h2>
            </md-toolbar>
            <md-card-content>
               <md-list>
                  <md-list-item class="md-3-line" ng-repeat="item in $ctrl.items">
                     <div class="md-list-item-text">
                        <h3 ng-bind="item.title"></h3>
                        <h4 ng-bind="item.username"></h4>
                        <p ng-bind="item.data | cropString"></p>
                     </div>
                     <md-button ui-sref="editor/{{ item.id }}" ui-sref-active="active" class="md-secondary">Редактировать</md-button>
                     <md-divider ng-if="!$last"></md-divider>
                  </md-list-item>
               </md-list>
            </md-card-content>
         </md-card>
